pandas==1.4.2
newspaper3k==0.2.8
deta==1.1.0
datetime==5.1
beautifulsoup4==4.11.1
urllib3==1.26.9
transformers==4.26.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
nltk==3.8.1
numpy==1.23.4
lxml_html_clean==0.1.1
deep-translator==1.11.4
